@model IEnumerable<App.Models.ProductModel>;
@{
    ViewData["title"] = "Trang quản lý sản phẩm";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Danh sách sản phẩm
                    <span>
                        <a class="btn btn-primary" asp-area="Admin" asp-controller="item"
                            asp-action="itemAdd">Thêm sản phẩm</a>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>item ID</th>
                            <th>item Name</th>
                            <th>Brand</th>
                            <th>Type</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Views</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.Brand.Name</td>
                                <td>@item.Type.Name</td>
                                <td>@item.Price.ToString()</td>
                                <td>@item.Description</td>
                                <td><img src="@Url.Content(item.Images.LastOrDefault(i => i.Id == item.Id)?.ImagePath)"
                                        style="width: 50px; height: auto;" /></td>
                                <td>@item.LuotXem</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>